################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExpenseTracker/bin/Debug/net10.0
/ExpenseTracker/obj
